html { 
scrollbar-arrow-color:#666666; 
scrollbar-track-color:#F2F2F2; 
scrollbar-face-color:#F8F8F8; 
scrollbar-highlight-color:; 
scrollbar-3dlight-color:; 
scrollbar-darkshadow-color:; 
scrollbar-shadow-color:#4D4A83; 
} 
.text0 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3F3F3F;
	text-decoration: none;
	line-height: 17px;
}
.text1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #404074;
	text-decoration: none;
}
.text2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	color: #838383;
	text-decoration: none;
}
a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #627a97;
	text-decoration: none;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #627a97;
	text-decoration: none;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC0000;
	text-decoration: none;
}
a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC0000;
	text-decoration: none;
}
a.nav2:link {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #627a97;
	text-decoration: none;
	font-weight: bold;
}
a.nav2:visited {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #627A97;
	text-decoration: none;
	font-weight: bold;
}
a.nav2:hover {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #CC0000;
	text-decoration: none;
	font-weight: bold;
}
a.nav2:active {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #CC0000;
	text-decoration: none;
	font-weight: bold;
}

a.nav3:link {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	text-decoration: none;
	font-weight: bold;
}
a.nav3:visited {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CCCCCC;
	text-decoration: none;
	font-weight: bold;
}
a.nav3:hover {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #A6ADBF;
	text-decoration: none;
	font-weight: bold;
}
a.nav3:active {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #A6ADBF;
	text-decoration: none;
	font-weight: bold;
}
a.nav1:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #627a97;
	text-decoration: none;
	font-weight: bold;
}
a.nav1:visited {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #627a97;
	text-decoration: none;
	font-weight: bold;
}
a.nav1:hover {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC0000;
	text-decoration: none;
	font-weight: bold;
}
a.nav1:active {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC0000;
	text-decoration: none;
	font-weight: bold;
}
.text3 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	color: #696969;
	text-decoration: none;
}
.header1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 13px;
	color: #627a97;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}
